<table width="100%">
	<tr>
		<td>
			<%unless @user.skill.nil?%>
			<table width="100%" >
				<tr>
					<td width="300">
						<h4 style="line-height:25px;">I'm comfortable babysitting:</h4>
						<ul style="list-style-position: inside; list-style-type: disc;">
							<% if @user.skill.babies %> <li>Babies</li><% end %>
							<% if @user.skill.toddlers %>  <li>Toddlers</li><% end %>
							<% if @user.skill.preschoolers %>  <li>Pre-schoolers</li><% end %>
							<% if @user.skill.schoolaged %>  <li>School Aged</li><% end %>
							<% if @user.skill.specialneeds %>  <li>Special Needs Children</li><% end %>
							<% if @user.skill.multiples %>  <li>Multiples (Twins, Triplets) </li><% end %>
						</ul>
					</td>
					<td>
						<h4 style="line-height:25px;">Own Transportation:</h4>
						<% if @user.skill.transportation == 'true' %>
							Yes
						<% elsif @user.skill.transportation == 'sometimes' %>
							Sometimes
						<% else %>
							No
						<% end %><br /><br />
					</td>
				</tr>
				<tr>
					<td>
						<h4 style="line-height:25px;">Tasks I'm comfortable with:</h4>
						<ul style="list-style-position: inside; list-style-type: disc;">
						<% if @user.skill.cook %> <li>Cook meals </li><% end %>
						<% if @user.skill.homework %> <li>Help with homework </li><% end %>
						<% if @user.skill.bathe %> <li>Bathe kids </li><% end %>
						<% if @user.skill.kidstobed %> <li>Get kids to bed </li><% end %>
						<% if @user.skill.entertain %> <li>Play/entertain </li><% end %>
						</ul>
				</td>
				<td>
					<h4 style="line-height:25px;">Willing to travel:</h4>
					Up to <%= @user.skill.max_mileage  %> miles<br />
				</td>
			</tr>
	<tr>
		<td colspan='2' style="line-height:25px;">
			<h4>My Hourly Rate:</h4>
			$<%= @user.profile.hourly_rate %>
			<br /><br />
			<h4>About Me:</h4>
			<%= @user.description %>
		</td>
	</tr>
</table>
<%end%>
