<% if logged_in? %>
<div style= "width: 300px;height:270px; font-size: .7em; background-color: #C2CCFF;">
<div style="padding-left: 25px; padding-top: 10px;">
	We will send an email to <%= User.find(params[:id]).profile.full_name %> to <br />confirm that you are friends.
<br /><br />
<strong>Custom Message:</strong> (Optional)</div>
	<% form_remote_tag :url => {:controller => 'connections', :action => 'add_friend'} do %>
	<%= text_area :message, :description, :style=>"width: 250px; height: 75px; margin-left: 20px;", :onkeypress => 'check_length(this, 250)' %>
	<div style="margin-top: 15px; font-size: 1em; padding: 2px; margin-left: 20px;width: 250px; text-align: justify; text-justify: newspaper;">
		SitterScout cares about your safety. We
		strongly recommend that you only add people
		to your community that you know and trust in
		the offline world.
	</div>
	<div style="text-align: center; margin-top: 10px;">
	<%= image_submit_tag '/images/add_friend.gif', :onclick => "Application.show_email_sent();"%><br />
	<a href="#" class="lbAction" rel="deactivate">Close Window</a><% end %>
</div>
</div>

<% else %>
Please signup or login.
<% end %>