<table width="100%">
	<tr>
		<td align="center">
			<h3>
				<center><%= @user.profile.first_name %>
				&nbsp;<%= @user.profile.sitter? ? @user.profile.last_name.to_s.first + "." : @user.profile.last_name %>'s Profile
				</center> 
			</h3>	
		</td>
		<td align="center">
			<div align="right" style="padding-right:0px;padding-top:3px;height:15px;width:15px;" >
				<a href="#" class="lbAction" rel="deactivate" style="color:#AFAFAF;"><img align="right" src="/images/wrong.jpg"></a>
			</div>
		</td>
	</tr>
</table>
<div style="border: 0px #AFAFAF solid; background-color: #E9EDFE; padding: 5px; width: 840px; height: 300px; margin-right:20px; overflow-y: auto;">
	
	<%= render :partial => 'parents/profile_friends', :collection => @friends %>
</div>
<div style="text-align: center; text-align: center; padding: 5px 0; width: 100%;" >
	<a href="#" class="lbAction" rel="deactivate">Close Window</a>
</div>
<script type="text/javascript">
	initialize();
</script>