<div id='content' style=' padding-top: 50px;'>

	<span style=' font-size: 22pt; color: #333333; padding-left: 10px'>Forgot Your Password</span>
	<div style="height: 150px; padding: 20px 10px;">

<% form_tag url_for(:action => 'forgot_password') do %>
	To reset your password, enter the email used when registering. We'll send a link to reset your password to that address.

	<div style="margin-top: 25px; font-size: 14px;">
	<label for="email">What was the email address used to create your account?</label><br />
					<%= text_field_tag :email, "", :size => 25, :style=>"margin-top: 4px;" %>
	
	<%= image_submit_tag "/images/parent_home/Submit_bttn.gif", :class => "column-30-margin", :alt => "Reset Password" %>
	</div>
<% end %>
</div>
</div>