<div style="position: absolute; top: 98px; left: 775px;  font-size: 8pt; color: #333333;">
	<p>Welcome Admin		<%= link_to "Logout", logout_path  %></p>
		
	<div style="border: 1px solid #ADACAD; height: 55px; padding: 3px; width: 210px;">
		&nbsp;
	</div>
</div>