<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
</head>
<body>
	<%= image_tag("#{APP_URL}/images/email_signature.jpg", :alt=>"SitterScout.com") %>

<font face="Arial, Helvetica, Geneva" style="font-size:11px;">
<br/><br/>
Welcome to SitterScout!<br/><br/>

We are happy to have you in the SitterScout community. You’re ready to take advantage of the fastest and easiest way to find and schedule a babysitter.<br/><br/> 

To make a Sitter Request or to start connecting within the SitterScout community, just visit <a href="http://www.sitterscout.com">www.SitterScout.com</a>. Log in to find all the tools you need right at your fingertips.</p>

If you have friends who could use a faster and easier way to find a babysitter, click <%= link_to "here", APP_URL %> to tell them about SitterScout.<br/><br/> 

In an effort to provide the very best service, we welcome your feedback. Please send an email to <a href="mailto:feedback@sitterscout.com">feedback@sitterscout.com</a>.<br/><br/>

And if you have any questions, do not hesitate to contact us at <a href="mailto:info@sitterscout.com">info@sitterscout.com</a>.<br/><br/>

Thank you,<br/>
The SitterScout Team<br/>

</font>
</body>
</html>