<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
</head>
<body>
	<%= image_tag("#{APP_URL}/images/email_signature.jpg", :alt=>"SitterScout.com") %>

<font face="Arial, Helvetica, Geneva">

<p>Hi there!</p>
<p>We've reset your SitterScout password. Your new password is: <%= @user.password %> </p>

<p>If you have any questions, please contact SitterScout support at info@sitterscout.com.</p>

<p>Thanks,</p>
<p>The <%= AppConfig.community_name %> team</p>
</font>
</body>
</html>
