<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
</head>
<body>
	<%= image_tag("#{APP_URL}/images/email_signature.jpg", :alt=>"SitterScout.com") %>

<font face="Arial, Helvetica, Geneva" style="font-size:11px;">
<br/><br/>
Welcome to SitterScout!<br/><br/>

We are so happy to have you as part of SitterScout! Being in the SitterScout community makes it easy for parents to book you for babysitting jobs – and that means earning more money. To start connecting within the SitterScout community, just visit www.SitterScout.com. Log in to find all the tools you need right at your fingertips.<br/><br/> 

In an effort to provide the very best service, we welcome your feedback. Please send an email to (feedback@sitterscout.com).<br/><br/>

And if you have any questions, do not hesitate to contact us at (info@sitterscout.com).<br/><br/>

Happy Babysitting!<br/>
The Sitter Scout Team<br/>

</font>
</body>
</html>