<div class="box">
  <h3> Go check your e-mail!</h3>
  <ul class="list checks">
    <li>
      We just sent an e-mail to
      <strong>
       <%= @user.email %>
      that will let you activate your account. </strong>
	</li>
</div>