<ul style="padding: 0; margin: 0; text-align: left;">
<% for prof in @profiles do -%>
	  <li style="padding: 0; margin: 0; text-align: left;">
		<span><%= h prof.email %></span>
	  </li>
<% end -%>
</ul>
