<% form_tag "invite_sitters" do %>
<fieldset>
	<table>
		<tr><td>Name:</td><td><%= text_field :invitation, :name %></td><td>Email Address:</td><td><%= text_field :invitation, :email %></td></tr>
	</table>
</fieldset>
<% end %>