<%unless suggest.nil?%>
<table width="100%">
	<tr>
		<td width="20%">
			<%= image_tag(suggest.avatar_photo_url, :class => "right",:alt=>"photo_small" ) %>
		</td>
		<td width="80%">
			<table width="130px;">
				<tr><td><strong><%= suggest.profile.first_name %>&nbsp;<%= suggest.profile.last_name.to_s.first + "." %></strong></td></tr>
				<tr><td><%= link_to "Add to your sitters", url_for(:controller => 'connections', :action => 'add_friend', :id => suggest.id),:class => "lbOn-300-260" %></td></tr>
			</table>
		</td>
	</tr>
</table>
<%end%>