<div id='content' style='height: 500px; padding-top: 5px;'>

<% form_tag "/search", :name => 'search_form' do %>
	<table border="0" cellpadding="0" cellspacing="0" style='background: #F8F8F9; z-index: 900; padding-left:400px;'>
		<tr>
			<td  align='left' valign='bottom' style='font-size:0.8em;font-family:"Verdana",sans-serif' >I'm looking for a:</td>
			<td  align='left' valign='bottom'>
				<select id='searchoption' name='searchoption' style='font-size:0.8em; width:70px;height:21px'>
					<option value="sitter">Sitter</option>
					<option value="Family">Family</option>
				</select>
			</td>
			<td>&nbsp;</td>
			<td valign='top'> 
				<input id='searchfield' type="text" name="search" id="search" value="Search by name or zip code" size='40' onFocus="if(this.value=='Search by name or zip code'){this.value=''; this.style.color='#000';}; " onBlur="if(this.value==''){this.value='Search by name or zip code'; this.style.color='#999'; };"/>
				<div id='searchbutton' onclick="if($('searchoption').value != '' && $('searchfield').value != '' && $('searchfield').value != 'Search by name or zip code') { document.search_form.submit();};" ></div>
			</td>
		</tr>
	</table>
<% end %>
		



	<div class='col' style='background: url(images/parents-art.png) no-repeat;'>
		<div id='parentshead'></div>
		<p>SitterScout helps parents find reliable babysitters by connecting with their friends. We&#39;ll make booking your sitter a snap, so you&#39;ll never have to play phone tag with your babysitters again.</p>
		<div class='learnmore' onclick="location.href='/how_it_works';"></div>
		<div class='signupitsfree magenta' onclick="location.href='/parents/new'; "></div>
	</div>


	<div class='col rightcol' style='background: url(images/sitters-art.png) no-repeat;'>
		<div id='sittershead'></div>
		<p>Get more babysitting jobs through the families you know. You decide how you want to be contacted so you&#39;ll never miss out on an opportunity.<br /><br /></p>
		<div class='learnmore' onclick="location.href='/how_it_works';"></div>
		<div class='signupitsfree green' onclick="location.href='/sitters/new';"></div>
	</div>
</div>
