

<div id='content' style='height: 500px; padding-top: 50px;'>

<div class='col' style='background: url(images/parents-art.png) no-repeat;'>
	<div id='parentshead'></div>
	<p>SitterScout helps parents find reliable babysitters by connecting with their friends. We&#39;ll make booking your sitter a snap, so you&#39;ll never have to play phone tag with your babysitters again.</p>
	<div class='learnmore' onclick="location.href='/how_it_works';"></div>
	<div class='signupitsfree magenta' onclick="location.href='/parents/new'; "></div>
</div>

<div class='col rightcol' style='background: url(images/sitters-art.png) no-repeat;'>
	<div id='sittershead'></div>
	<p>Get more babysitting jobs through the families you know. You decide how you want to be contacted so you&#39;ll never miss out on an opportunity.<br /><br /></p>
	<div class='learnmore' onclick="location.href='/how_it_works';"></div>
	<div class='signupitsfree green' onclick="location.href='/sitters/new';"></div>
</div>

</div>
		</div>

		


	
</div>
