<div id='content' style='padding-top: 50px;font-size: .8em;'>
<%= render :comatose=>'privacy' %>
</div>
<% if logged_in? %>
	<%#= render :partial => 'shared/profile_percentage' %>
<% else %>
	<%#= render :partial => 'shared/returning_members' %>
<% end %>