<div id='content' style='padding-top: 50px;font-size: .8em;'>
<%= render :comatose=>'tou' %>
</div>
<% if logged_in? %>
<% @current_user = current_user %>
	<%#= render :partial => 'shared/profile_percentage' %>
<% else %>
	<%#= render :partial => 'shared/returning_members' %>
<% end %>