
<%= render :partial => 'nav_menu' %>

<div id="sub_menu_gradient">
	
</div>

<div id="content" style="height: 550px; ">

<h3>Welcome to SitterScout!</h3>

<div style=" height: 30px;"></div>
	<div style=" height: 30px;font-size:14pt">
	<b>Please add  <font color="#C31880">notifications@sitterscout.com</font> to your e-mail contacts so that you will be sure to receive your requests and messages.</b>
</div>
<br />
<br>
<%= link_to image_tag("HaveFun_bttn.gif", :border => 0), dashboard_sitter_path(current_user) %>

</div>
<%#= render :partial => 'shared/profile_percentage' %>


