<% if logged_in? %>
<div style= "width: 300px;height:260px; font-size: 9pt; background-color: #C2CCFF;">
<div style="padding-left: 20px; padding-top: 10px;">
We will send an email to <%= Parent.find_by_id(params[:id]).profile.full_name %> to <br /> confirm that you are friends.
<br /><br />
Custom Message: (Optional)</div>
<% form_remote_tag :url => {:controller => 'parents', :action => 'add_friend'} do %>
<%= hidden_field_tag 'friend_id', params[:id] %>
<%= text_area :message, :description, :style=>"width: 250px; height: 75px; margin-left: 20px" %>
<div style="margin: 5px 0; font-size: 12px; padding: 2px; margin-left: 20px;">
	SitterScout cares about your safety. We<br />
	strongly recommend that you only add people <br />
	to your community that you know and trust in <br />
	the offline world.
</div>
<div style="text-align: center;">

<%= image_submit_tag '/images/add_friend.gif', :onclick => "Application.show_email_sent();"%><br />
<a href="#" class="lbAction" rel="deactivate">Close Window</a>
<% end %>
</div>
</div>
<% else %>
<div style= "width: 370px;height:400px;">
	You must be logged in to add friends.
</div>
<% end %>