<!--<div style="width: 100%; height 19px; background: url(/images/lightbox-top.gif) repeat-x; border-bottom: 1px solid #000000">	
	<div style="width: 15px; height: 15px; padding: 2px; cursor: pointer;">
		<img src="/images/close.gif" onclick="Element.remove($('lbContent')); $('overlay').hide(); $('lightbox').hide();">
	</div>
</div>-->
<%= yield %>